[user]
	name = Aaron Taner
	email = mapkts@gmail.com
[core]
	editor = vim
	autocrlf = false
[https]
	proxy = socks5://127.0.0.1:1080
[http]
	proxy = socks5://127.0.0.1:1080
[credential]
	helper = wincred
[alias]
	lg = log --graph --decorate --pretty=oneline --abbrev-commit 
	df = diff
	dc = diff --cached
	st = status
	ck = checkout
	ci = commit -v
	cm = commit -v
[pull]
	rebase = true
