[user]
	name = Aaron Taner
	email = mapkts@gmail.com
[core]
	editor = vim
	autocrlf = false
[https]
	proxy = socks5://127.0.0.1:1080
[http]
	proxy = socks5://127.0.0.1:1080
[credential]
	helper = store
[merge]
	tool = nvim -d
[alias]
    st = status
    cm = commit -v
	lg = log --graph --decorate --pretty=oneline --abbrev-commit 
    ls = log -1 HEAD
	df = diff
	dc = diff --cached
	ck = checkout
    sl = stash list
[pull]
	rebase = true
