[user]
	name = mapkts
	email = mapkts@gmail.com
[core]
	editor = nvim
	autocrlf = false
[https]
	proxy = http://127.0.0.1:1081
[http]
	sslverify = false
[merge]
	tool = nvim -d
[alias]
    f  = fetch
    st = status
    c  = commit -v
    cm = commit -v
	lg = log --graph --decorate --pretty=oneline --abbrev-commit 
    ls = log -1 HEAD
	df = diff
	dc = diff --cached
	ck = checkout
    sl = stash list
[pull]
	rebase = true
[credential]
	helper = cache
